@model Garage2._0.Models.Entites.Feedback

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="text-center text-secondary my-4">Help us to be better</h1>


    <form class="mt-4" asp-controller="Feedbacks" asp-action="Create">
        <input type="hidden" asp-for="VehicleId" value="@Model?.Id" />
        <div class="form-group">
            <label>How likely are you to recommend us to your friends?</label>
            <div class="rating-input-wrapper d-flex justify-content-between ">
                @for (int i = 1; i <= 10; i++)
                {
                    <label class="px-1 my-3" asp-for="Rating">
                        <input type="radio" asp-for="Rating" name="Rating" value="@i" class="d-none" />
                        <span class="border rounded px-3 py-2 rating-option">@i</span>
                    </label>
                }
            </div>
            <div class="rating-labels d-flex justify-content-between mt-1">
                <label>Very unlikely</label>
                <label>Very likely</label>
            </div>
        </div>
        <div class="form-group my-4">
            <label asp-for="UserName">What is your name?</label>
            <input type="text" class="form-control" asp-for="UserName" placeholder="">
        </div>
        <div class="form-group">
            <label asp-for="FeedbackMessage">Would you like to say something?</label>
            <textarea class="form-control" asp-for="FeedbackMessage" rows="3"></textarea>
        </div>
        <div class="mt-4">
            <a class="pe-3" asp-controller="Vehicles" asp-action="VehiclesList">Back to List</a>
            <input type="submit" class="btn btn-primary">
        </div>


        <!-- Display Success Message -->
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show mt-4" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <!-- Display Error Message -->
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
