@model Garage2._0.Models.ViewModels.VehicleListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Filter" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="RegisterNumber" />
        <div class="input-group-append">
            <select class="form-control" asp-for="VehicleType" asp-items="@Model.VehicleTypes">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

 <partial name="_VehicleListPartial" model="@Model.Vehicles" /> 

